[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.12"
python_full_version = "3.12.3"

[packages]
simplevent = "~=2.2.0"
setuptools = "~>78.1.1"
waapi-client = "~=0.8.1"

[dev-packages]
